@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



@font-face {
  font-family: 'Medium';
  src: url('../public/Medium.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}


