/* Import Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/* Import Medium.otf for headers and logo */
@font-face {
  font-family: 'Medium';
  src: url('../public/Medium.otf') format('opentype');
}


/* NavBar Component */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent; /* Adjust if your navbar has a background color */
  color: white;
}

.logo {
  font-size: 1.4rem; /* Adjust the size according to your logo */
  font-weight: bold;
}

.nav-links {
  display: flex;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 1rem; /* Adjust spacing between links as needed */
  font-size: 1rem; /* Adjust font size as needed */
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #ddd; /* Hover color for links */
}

.nav-cta .btn-template {
  padding: 0.5rem 1rem;
  background-color: #fff; /* Button background color */
  color: #000; /* Button text color */
  border: none;
  border-radius: 20px; /* Adjust border-radius as needed */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.nav-cta .btn-template:hover {
  background-color: #f2f2f2; /* Button hover background color */
}



/* Intro component */
.intro {
  text-align: center;
  padding: 4rem 2rem; /* Adjust padding as needed */
  background: linear-gradient(to top, #1D2332, #000); /* Gradient background */
  color: white; /* Text color */
}

.intro-text h1 {
  font-size: 3.5rem; /* Adjust font size as needed */
  margin-bottom: 1rem;
  line-height: 1.2; /* Adjust line height as needed */
}

.intro-text p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}


