/* Import Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/* Import Medium.otf for headers and logo */
@font-face {
  font-family: 'Medium';
  src: url('../public/Medium.otf') format('opentype');
}

/* Define brand colors */
:root {
  --primary-color: #1D2332; 
  --secondary-color: #DEFEAB; 
  --tertiary-color: #C4B7CB; 
  --light-color: #FFFFFF; 
  --dark-color: #1D2332; 
}

/* Logo styles */
.logo {
  font-family: 'Medium', sans-serif;
  /* Use your specific color codes for each logo variant */
}

/* Font styles */
body {
  font-family: 'Roboto', sans-serif;
  /* background-color: var(--dark-color); */
  background: linear-gradient(to top, #1D2332, #000);
}

h1 {
  font-family: 'Medium', sans-serif;
  font-size: 1.8em; /* Adjust size as needed */
  font-weight: 900;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6em;
  font-weight: 400;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

/* Style variations */
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.link-style {
  text-decoration: underline;
  color: var(--primary-color);
}

/* Button styles */
.button {
  font-family: 'Roboto', sans-serif;
  padding: 15px 25px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-primary {
  background-color: var(--primary-color);
  color: white;
}

.button-secondary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  padding: 15px 25px;
}

.button-tertiary {
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  outline: var(--light-color);
  outline-style: solid;
  outline-width: 2px;
  padding: 10px 20px;
  color: var(--light-color);
}

.button-primary:hover,
.button-secondary:hover,
.button-tertiary:hover {
  opacity: 0.8;
}


.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}